services:
  master:
    build: .
    container_name: master
    environment:
      ROLE: master
      PORT: 8000
      SECONDARIES: '["http://secondary1:8000","http://secondary2:8000"]'
      REPL_TIMEOUT_SECS: 30 # changed for longer, must be bigger than DELAY
      REPL_RETRIES: 2
    ports:
      - "8000:8000"
    depends_on:
      - secondary1
      - secondary2

  secondary1:
    build: .
    container_name: secondary1
    environment:
      ROLE: secondary
      PORT: 8000
      REPL_DELAY_SECS: 5 # delay should be different for the servers (<10)
    # `ports` not required for inter-container calls, but fine if you want host access:
    ports:
      - "8001:8000"

  secondary2:
    build: .
    container_name: secondary2
    environment:
      ROLE: secondary
      PORT: 8000
      REPL_DELAY_SECS: 8
    ports:
      - "8002:8000"
